<div class="row">
  <div class="col-12 col-lg-6">
    <h2>Scan QR Code</h2>
    <zxing-scanner #scanner *ngIf="scannerEnabled" [formats]="allowedFormats" (camerasFound)="cameraFound($event)"
      (camerasNotFound)="camerasNotFound($event)" (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner>
    <button (click)="enableScanner()" *ngIf="!scannerEnabled" class="btn-success">Register another
      device</button>
  </div>
  <div class="col-12 col-lg-6">
    <h2>Scanner Result</h2>
    <p [ngClass]="[infoType]">{{ information }}</p>
    <hr class="w-70" />
    <h2>Your Devices</h2>
    <dialog #editDialog>
      <div class="dialog-header">
        <h2>{{ deviceForm.controls.name.value }}</h2>
        <button class="close-dialog" (click)="editDialog.close()">X</button>
      </div>
      <div class="dialog-body">
        <form [formGroup]="deviceForm" (ngSubmit)="deviceForm.valid && onSubmit()">
          <label for="id">Id</label>
          <input type="text" id="id" formControlName="id" readonly>
          <label for="name">Name</label>
				  <input type="text" id="name" formControlName="name" placeholder="Device name">
          <label for="crop">Crop</label>
				  <select id="crop" formControlName="cropId" (change)="onChange($event)">
					  <option value="">Custom</option>
            <option *ngFor="let crop of crops" value="{{ crop.id }}">{{ crop.name }}</option>
          </select>
          <details formGroupName="range">
            <summary>Climate range</summary>

              <label for="minAirTemperature">Minimun air temperature (°C)</label>
				      <input type="number" id="minAirTemperature" formControlName="minAirTemperature" placeholder="Minimun air temperature" [readOnly]="deviceForm.controls.cropId.value">
              <label for="maxAirTemperature">Maximun air temperature (°C)</label>
				      <input type="number" id="maxAirTemperature" formControlName="maxAirTemperature" placeholder="Maximun air temperature" [readOnly]="deviceForm.controls.cropId.value">

              <hr class="w-100">

              <label for="minHumidity">Minimun humidity (%)</label>
				      <input type="number" id="minHumidity" formControlName="minHumidity" placeholder="Minimun humidity" [readOnly]="deviceForm.controls.cropId.value">
              <label for="maxHumidity">Maximun humidity (%)</label>
				      <input type="number" id="maxHumidity" formControlName="maxHumidity" placeholder="Maximun humidity" [readOnly]="deviceForm.controls.cropId.value">

              <hr class="w-100">

              <label for="minSoilMoisture">Minimun soil moisture (%)</label>
				      <input type="number" id="minSoilMoisture" formControlName="minSoilMoisture" placeholder="Minimun soil moisture" [readOnly]="deviceForm.controls.cropId.value">
              <label for="maxSoilMoisture">Maximun soil moisture (%)</label>
				      <input type="number" id="maxSoilMoisture" formControlName="maxSoilMoisture" placeholder="Maximun soil moisture" [readOnly]="deviceForm.controls.cropId.value">

          </details>
          <div class="form-buttons">
            <button class="btn-success">Save</button>
            <button class="btn-error" (click)="editDialog.close()">Cancel</button>
          </div>
        </form>
      </div>
    </dialog>
    <table *ngIf="devices.length">
      <caption>{{ devices.length }} devices linked</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices">
          <td>{{ device.name ?? 'Unknown Device' }}</td>
          <td>
            <button class="btn-warning" (click)="edit(device);editDialog.show()">Edit</button>
            <button class="btn-error" (click)="unlink(device)">Unlink</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="error-text" *ngIf="!devices.length">
      We can't find devices linked to your account.
    </p>
  </div>
</div>
