header{
    nav{
        ul{
            li{
                a{
                  &.active{
                    background-color: hsl(var(--hs-interactive), var(--l-interactive));
                    color: hsl(var(--hs-static), var(--l-highest));
                    text-decoration-line: none;
                    outline: 2px solid hsl(var(--hs-interactive), var(--l-interactive));
                    outline-offset: 0.25rem;
                  }  
                }
            }
        }
    }
}